// compile comnand: sass assets/scss/styles.scss assets/css/styles.css

/*** Global ***/

/** Background colors **/
$main-bg: hsl(222deg, 26%, 31%);
$toggle-keypad-bg: hsl(223deg, 31%, 20%);
$screen-background: hsl(224deg, 36%, 15%);

/** Keys **/
$key-bg: hsl(225deg, 21%, 49%);
$key-shadow: hsl(224deg, 28%, 35%);
$key-bg-toggle: hsl(6deg, 63%, 50%);
$key-toggle-shadow: hsl(6deg, 70%, 34%);
$key-bg-lt-gray-orange: hsl(30deg, 25%, 89%);
$key-shadow-gray-orange: hsl(28deg, 16%, 65%);

/** Text **/
$attribution-text: hsl(228, 45%, 44%);
$text-dark-gray-blue: hsl(221deg, 14%, 31%);
$text-white: hsl(0deg, 0%, 100%);

$font-size: 32px;

body {
    background-color: $main-bg;
    color: $text-white;
    font-family: Spartan, sans-serif;
    font-size: $font-size;
}

h1 {
    font-size: $font-size;
}

h2 {
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 375px;
    }
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.toggle-container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.toggle-switch {
    background-color: $toggle-keypad-bg;
    border-radius: 25px;
    padding: 5px 0;
    width: 65px;
}

.labels, .radios {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    justify-content: space-around;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: $attribution-text; 
}